<% layout("/layouts/boilerplate") %>
<div class="row new_form">
	<form
		action="/listings"
		method="post"
		novalidate
		class="add_new_listing needs-validation"
		enctype="multipart/form-data"
	>
		<div>
			<label for="title">Title</label>
			<input
				type="text"
				name="listing[title]"
				placeholder="Enter Title"
				class="form-control"
				required
			/>
			<div class="valid-feedback">Title looks good!</div>
		</div>
		<div>
			<label for="description">Description</label>
			<textarea
				type="text"
				name="listing[description]"
				placeholder="Enter description"
				class="form-control"
				required
			></textarea>
		</div>

		<div>
			<label for="image">Upload Image</label>
			<input type="file" name="listing[image]" class="form-control" required />
		</div>

		<div>
			<label for="price">Price</label>
			<input
				type="text"
				name="listing[price]"
				placeholder="Enter price"
				class="form-control"
				required
			/>
			<div class="invalid-feedback">Enter valid price</div>
		</div>
		<div>
			<label for="location">Location</label>
			<input
				type="text"
				name="listing[location]"
				placeholder="Enter location"
				class="form-control"
				required
			/>
		</div>

		<div>
			<label for="country">Country</label>
			<input
				type="text"
				name="listing[country]"
				placeholder="Enter country"
				class="form-control"
				required
			/>
		</div>

		<button class="btn btn-dark" style="margin-top: 1rem">submit</button>
	</form>
</div>
